/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.sample-card {
	box-shadow: 0 0 8px 0px black;

	.card__title {
		font-size: 34px;
		font-weight: bolder;
	}

	.card__body {
		padding: 0 12px;
	}
}
